data/.flows.json.backup
[
    {
        "id": "adffdf95d3a8406d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58ffae9d.a7005",
        "type": "debug",
        "z": "adffdf95d3a8406d",
        "name": "",
        "active": true,
        "complete": false,
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "17626462.e89d9c",
        "type": "inject",
        "z": "adffdf95d3a8406d",
        "name": "",
        "repeat": "",
        "once": false,
        "topic": "",
        "payload": "",
        "x": 50,
        "y": 180,
        "wires": [
            [
                "2921667d.d6de9a"
            ]
        ]
    },
    {
        "id": "2921667d.d6de9a",
        "type": "function",
        "z": "adffdf95d3a8406d",
        "name": "Format timestamp",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "58ffae9d.a7005"
            ]
        ]
    }
]